#pbim{
    background-color: cadetblue;
}

#sbim{
    background-color: cadetblue;
}

#tbim{
    background-color: cadetblue;
}

#qbim{
    background-color: cadetblue;
}

#listaAluno{
    background-color: darkgray;
}